<div class="col-sm-12 col-md-10" *ngIf="connected">
  <label for="recordingForm">Start Recording</label>
  <form id="recordingForm">
    <div class="form-group">
      <label for="recordingName">Name</label>
      <input id="recordingName" type="text" class="form-control" [(ngModel)]="name" name="recordingName" placeholder="Name" (keyup.enter)="submit()"/>
    </div>
    <div class="form-group">
      <label for="recordingDuration">Duration</label>
      <select id="recordingDuration" [(ngModel)]="duration" name="recordingDuration" class="form-control">
        <option value="-1">Unlimited</option>
        <option value="5">5 seconds</option>
        <option value="30">30 seconds</option>
        <option value="60">60 seconds</option>
      </select>
    </div>
    <div class="form-group">
      <label for="recordingEvents">Events <span class="pficon-info clickable" (click)="openModal(modalTemplate)"></span></label>
      <input id="recordingEvents" type="text" class="form-control" [(ngModel)]="events" name="recordingEvents" placeholder="events" (keyup.enter)="submit()"/>
    </div>
    <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
  </form>
</div>

<ng-template #modalTemplate>
  ex. jdk.CPULoad:enabled=true,jdk.PhysicalMemory:enabled=true
</ng-template>
