<div class="card-pf card-pf-view">
  <div class="card-pf-body">
    <h2 class="card-pf-title">
      <span class="clickable" (click)="collapsed = !collapsed">
        <span *ngIf="collapsed" class="expand-indicator fa fa-angle-right"></span>
        <span *ngIf="!collapsed" class="expand-indicator fa fa-angle-down"></span>
        &nbsp;
        Supported Event Types
      </span>
    </h2>
    <div [hidden]="collapsed">
      <hr />
      <div class="table-wrapper">
        <pfng-table
          [config]="config"
          [columns]="columns"
          [rows]="filteredEvents"
          (onFilterChange)="onFilterChange($event)"
          >
        </pfng-table>
        <ng-template #nameTemplate let-row="row">
          <span>{{row.name}}</span>
        </ng-template>
        <ng-template #typeIdTemplate let-row="row">
          <span class="event-type-id">{{row.typeId}}</span>
        </ng-template>
        <ng-template #descriptionTemplate let-row="row">
          <span>{{row.description}}</span>
        </ng-template>
        <ng-template #categoryTemplate let-row="row">
          <ul>
            <li *ngFor="let c of row.category">{{c}}</li>
          </ul>
        </ng-template>
        <ng-template #optionsTemplate let-row="row">
          <table class="table table-striped table-bordered">
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Default</th>
            </tr>
            <tr *ngFor="let r of getOptions(row.options)">
              <td>{{r.name}}</td>
              <td>{{r.description}}</td>
              <td>{{r.defaultValue}}</td>
            </tr>
          </table>
        </ng-template>
      </div>
    </div>
  </div>
</div>
