<div class="card-pf card-pf-view">
  <div class="card-pf-body">
    <div *ngIf="connected">Connected {{host}}<hr /></div>
    <div class="btn-group" dropdown #dropdown="bs-dropdown">
      <button class="btn btn-default dropdown-toggle" dropdownToggle type="button" data-toggle="dropdown">
        Target JVM<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" *dropdownMenu role="menu">
        <li class="clickable" role="presentation"><a role="menuitem" (click)="setHost('')">Disconnect</a></li>
        <li class="clickable" role="presentation"><a role="menuitem" (click)="setHost('rescan')">Rescan</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><input #customTarget type="text" placeholder="host:port" (click)="$event.stopPropagation()" (keyup.enter)="setHost(customTarget.value)"></li>
        <li role="presentation" class="divider"></li>
        <li *ngIf="scanning" role="presentation"><span class="spinner spinner-xs spinner-inline"></span></li>
        <ng-container *ngIf="!scanning">
          <li class="clickable" *ngFor="let h of hosts" role="presentation">
            <a role="menuitem" (click)="setHost(h.ip)">
              <div *ngIf="h.ip !== h.hostname; then displayIpAndHost else displayIp"></div>
              <ng-template #displayIpAndHost>{{h.ip}} ({{h.hostname}})</ng-template>
              <ng-template #displayIp>{{h.ip}}</ng-template>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
