<div class="card-pf card-pf-view">
  <div class="card-pf-body">
    <div *ngIf="connected">Connected {{host}}<hr /></div>
    <div class="btn-group" dropdown #dropdown="bs-dropdown">
      <button class="btn btn-default dropdown-toggle" dropdownToggle type="button" data-toggle="dropdown">
        Target JVM<span class="caret"></span>
      </button>
      <ul class="dropdown-menu" *dropdownMenu role="menu">
        <li class="clickable" role="presentation"><a role="menuitem" (click)="disconnect()">Disconnect</a></li>
        <li class="clickable" role="presentation"><a role="menuitem" (click)="rescan()">Rescan</a></li>
        <li role="presentation" class="divider"></li>
        <li role="presentation"><input #customTarget type="text" placeholder="host:port" (click)="$event.stopPropagation()" (keyup.enter)="connectUrl(customTarget.value)"></li>
        <li role="presentation" class="divider"></li>
        <li *ngIf="scanning" role="presentation"><span class="spinner spinner-xs spinner-inline"></span></li>
        <ng-container *ngIf="!scanning">
          <li class="clickable" *ngFor="let h of hosts" role="presentation">
            <a role="menuitem" (click)="setTarget(h)">
              <span>
                {{h.alias}}
                <span *ngIf="h.alias !== h.connectUrl">({{h.connectUrl}})</span>
                <span *ngIf="h.port > 0">[{{h.port}}]</span>
              </span>
            </a>
          </li>
        </ng-container>
      </ul>
    </div>
  </div>
</div>
