<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <h1>
        container-jmc web UI
      </h1>
      <pfng-toast-notification-list [notifications]="notifications | async"></pfng-toast-notification-list>
    </div>
  </div>
  <div *ngIf="svc.isReady() | async; else disconnected">
    <div class="row">
      <div class="col-sm-12">
        Connection Established
      </div>
      <hr />
    </div>

    <div>
      <span>JMX Commands</span>
      <div class="row">
        <app-connect-button></app-connect-button>
      </div>
      <hr />
      <div class="row">
        <app-dump-button></app-dump-button>
      </div>
      <hr />
    </div>

    <div class="row">
      <app-recording-list></app-recording-list>
    </div>
  </div>
  <ng-template #disconnected>
    <div class="row">
      <app-client-connect></app-client-connect>
    </div>
  </ng-template>
</div>
