<div style="text-align:center">
  <h1>
    container-jmc web UI
  </h1>
  <div *ngIf="wsConnected; else disconnected">
    <div>
      Connection Established
    </div>

    <hr />

    <div>Client connection: {{connected}}</div>
    <span>JMX Commands</span>
    <div>
      <p><app-connect-button [hosts]="hosts" (fired)="sendMessage($event)"></app-connect-button></p>
      <p><app-dump-button (fired)="sendMessage($event)"></app-dump-button></p>
    </div>

    <div>
      <textarea #textarea readonly>{{texts.join('\n\n')}}</textarea>
    </div>

    <app-recording-list
      [recordings]="recordings"
      [downloadBaseUrl]="downloadBaseUrl"
      (delete)="delete($event)"
      (stop)="stop($event)"
    ></app-recording-list>
  </div>
  <ng-template #disconnected>
    <app-client-connect (clientSelected)="wsConnect($event)" [connected]="wsConnected"></app-client-connect>
  </ng-template>
</div>
