<div class="card-pf card-pf-view">
  <div class="card-pf-body">
    <div *ngIf="connected === State.UNKNOWN">
      <span>
        Checking JVM Target connection...
      </span>
    </div>
    <div *ngIf="connected === State.CONNECTED">
      <div class="card-pf-heading-kebab">
        <div class="pull-right recording-list-toolbar">
          <label class="checkbox-inline">
            <input type="checkbox" [(ngModel)]="autoRefreshEnabled">
            Auto Refresh
          </label>
          <button class="btn btn-default" title="Create Recording..." (click)="openRecordingForm()"><span class="fa pficon-add-circle-o"></span></button>
          <button class="btn btn-default" title="Refresh" (click)="refreshList()"><span class="fa fa-refresh"></span></button>
        </div>
      </div>
      <h2 class="card-pf-title">
        Recordings
      </h2>
      <hr />
      <pfng-list
        [config]="listConfig"
        [items]="recordings"
        [itemTemplate]="recordingTemplate"
        [actionTemplate]="actionTemplate"
        [expandTemplate]="expandTemplate"
      ></pfng-list>
      <ng-template #recordingTemplate let-item="item">
        <div class="list-pf-left">
          <span class="fa pficon-volume list-pf-icon list-pf-icon-bordered list-pf-icon-small"></span>
        </div>
        <div class="list-pf-content-wrapper">
          <div class="list-pf-main-content">
            <div class="list-pf-title">{{item.name}}</div>
            <div class="list-pf-description text-overflow-pf">{{item.startTime | date:'medium'}}</div>
          </div>
          <span>{{item.state | titlecase}} <span *ngIf="!item.continuous">({{item.duration / 1000}}s)</span></span>
        </div>
      </ng-template>
      <ng-template #actionTemplate let-item="item">
        <button class="btn btn-default"><a href="{{downloadBaseUrl}}{{item.name}}.jfr">Download</a></button>
      </ng-template>
      <ng-template #expandTemplate let-item="item">
        <div class="recording-actions">
          <button *ngIf="item.state != 'STOPPED'" class="btn btn-default" (click)="stop(item.name)">Stop</button>
          <button class="btn btn-default" (click)="delete(item.name)">Delete</button>
        </div>
      </ng-template>
    </div>
    <div *ngIf="connected === State.DISCONNECTED">
      <span>
        No JVM Target connection
      </span>
    </div>
  </div>
</div>
