<div *ngIf="connected">
  <h2>
    <span>Recordings</span>
    <button class="pf-c-button pf-m-tertiary" (click)="refreshList()">Refresh</button>
  </h2>
  <table class="pf-c-table">
    <tr>
      <th>Name</th>
      <th>Start Date</th>
      <th>State</th>
      <th>Duration</th>
      <th>Continuous</th>
      <th>Actions</th>
    </tr>
    <tr *ngFor="let recording of recordings">
      <td>{{recording.name}}</td>
      <td>{{recording.startTime | date:'medium'}}</td>
      <td>{{recording.state | titlecase}}</td>
      <td>{{recording.duration / 1000}}s</td>
      <td>{{recording.continuous}}</td>
      <td>
        <a class="pf-c-button pf-m-link" href="{{downloadBaseUrl}}{{recording.name}}.jfr">Download</a>
        |
        <button class="pf-c-button pf-m-primary" (click)="delete(recording.name)">Delete</button>
        <span *ngIf="recording.state != 'STOPPED'">
          |
          <button class="pf-c-button pf-m-secondary" (click)="stop(recording.name)">Stop</button>
        </span>
      </td>
    </tr>
  </table>
</div>
